[
    {pgo, [
        {pools, [
            {default, #{
                pool_size => 5,
                host => "localhost",
                port => 5432,
                database => "pgbouncer",
                user => "daniel",
                password => "glue",
                ssl => false,
                queue_target => 50,
                queue_interval => 1000,
                idle_interval => 1000
            }}
        ]}
    ]}
].
